<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="easy-kart" value="https://pkgs.dev.azure.com/pdesaiprogramming/d176b6b0-e072-4552-8c5d-e9ab3732a6df/_packaging/easy-kart/nuget/v3/index.json" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>
	<packageSourceCredentials>
		<easy-kart>
			<add key="Username" value="pdesai.programming@gmail.com" />
			<add key="ClearTextPassword" value="ChEZPfk4loxFUUJdILmCyjGh1Sn3eMF0JNdQtMEClSnjHcx5zBbhJQQJ99ALACAAAAAAAAAAAAASAZDOKIsR" />
		</easy-kart>
	</packageSourceCredentials>
</configuration>